<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamessample">


    <application
        android:label="GamesSample"
        android:theme="@style/Theme.GamesSample">
        <!--suppress AndroidDomInspection -->
        <activity
            android:name=".MainAktivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>